@font-face {
  src: url('fonts/DIN-Alternate-Bold/DIN-Alternate-Bold.otf');
  font-family: DINAlternate-Bold;
}


* {
  font-family: DINAlternate-Bold !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 0 !important;
  scroll-margin: 0 !important;
}

.card {
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  /* padding-right: 20px; */
}

.card-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 12px !important;
}

.card-text {
  margin-bottom: 0;
}

.card-title {
  font-size: .88em;
  text-align: center;
}

.card-text .text-muted a {
  color: #0099FF !important;
  text-decoration: none !important;
}

.card-text {
  margin-top: 7px;
}

.card-img-top {
  width: 70% !important;
  /* height: 50% !important; */
}

#about_section--button p {
  margin: 0;
}

#service_section-wrapper {
  margin-top: 17%;
}

#service_section-titlewrapper {
  margin-bottom: 5%;
}

#service_title-lead {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#service_title-lead::before,
#service_title-lead::after {
  content: '';
  /* background-color: #0099FF; */
  /* Change below to change the length of the lines */
  flex: .18;
  /* Change below to change the Fill of the line */
  border-width: 1px solid;
  border-style: solid;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(138, 208, 255, 1) 46%, rgba(0, 153, 255, 1) 100%) 1;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

#service_title-lead::before {
  /* background: rgb(255,255,255); */
  border-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(138, 208, 255, 1) 46%, rgba(0, 153, 255, 1) 100%) 1;
}

#service_title-lead:not(:empty)::before {
  margin-right: .25em;
}

#service_title-lead:not(:empty)::after {
  margin-left: .25em;
}

#footer {
  margin-top: 17%;
  color: white;
  opacity: 1;
  background: linear-gradient(90deg, rgba(71, 166, 206, 1) 0%, rgba(42, 117, 156, 1) 47%, rgba(15, 71, 109, 1) 100%);
}

#footer-contact {
  padding-left: 4%;
}

#footer-contact--title {
  margin-bottom: 0;
}

#footer-contact--a1 {
  font-family: Arial, Helvetica, sans-serif !important;
  margin-bottom: 0;
}

#footer-contact--a2 {
  font-family: Arial, Helvetica, sans-serif !important;
  margin-bottom: 0;
}

#footer-contact--email {
  font-family: Arial, Helvetica, sans-serif !important;
  margin-bottom: 0;
}


.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

.border-left {
  border-left: 2px solid #E5E5E5;
  position: absolute;
  top: 20%;
  bottom: 30%;
  /* right: -5%; */
  left: -8%;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is collapsed*/
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}

/* .navbar-toggler.collapsed{
  border: 0 !important;
} */

.navbar-brand {
  color: white;
  font-size: 35px !important;
  letter-spacing: .8px;
}

.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
  font-size: 25px;
  padding-left: 10px !important;
  border-radius: 10px;
  transition: background-color .2s;
}

.nav-link:hover {
  color: #00C9FF;
  background-color: white;
  border-radius: 10px;
  transition: background-color .2s;
}

.navbar-toggler-icon {
  width: unset !important;
  height: unset !important;
  padding-right: 0 !important;
  transition: all 0.2s;

}

.navbar-toggler {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  outline: 0 !important;
}

.collapsed {
  border: 2px solid white !important;
}

#nav-link__lastItem {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.jumbotron {
  background-image: linear-gradient(180deg, #00C9FF 0%, #00B1FF 50%, #0099FF 100%);
  height: 820px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

#jumbo_title {
  color: #FFFFFF;
  text-align: left;
  padding-left: 70px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  z-index: 1;
  /*  */
  margin-top: 100px;
  /* display: inline-block; */
}



/* Selects SVG inside svg continer allowing for semi responsive svgs - WORKS */
/* .svg-container svg {
  max-width: 100%;
  max-height: 100%;
} */

#jumbo_emailform {
  background-color: white;
  /* display: block; */
  height: 500px;
  width: 340px;
  float: right;
  right: 30px;
  border-radius: 23px;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  max-width: 100%;
  max-height: 100%;
  /* margin-top: -40px; */
  margin-right: 60px;
  z-index: 9999;
}

#about_section {
  padding: 0;
  margin-top: 20%;
}

#testimonial_title {
  text-align: center;
  padding-bottom: 4%;
}

#testimonial_section {
  margin-top: 17%;
}

.testimonial-pic {
  width: 50% !important;
  margin: 0 auto;
  z-index: 1;
  display: absolute;
  transform: translateY(-6%);
}

.tes-item {
  margin: 2% 2% 0 2%;
  border-radius: 8px;
  box-shadow: -.6px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.quote {
  width: 25% !important;
  padding-left: 4%;
  padding-top: 4%;
  z-index: -1;
  display: relative;
}

.testcard-title {
  transform: translateY(-60%);
}

.owl-stage {
  margin-bottom: 3%;
}

/* .owl-dots .owl-dot .active {

} */

.testcard-text {
  transform: translateY(-15%);
  font-size: .9em;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, Helvetica, sans-serif !important;
}





/* Media Queries */

/* < Mobile S */
@media only screen and (max-width: 320px) {

  .nav-link {
    font-size: 18px;
    background-color: white;
    color: #00C9FF;
    border-radius: 0;
    /* background-color: rgba(0, 0, 0, .7); */
  }

  .nav-link:hover {
    /* background-color: rgba(0, 0, 0, .7); */
    text-decoration: underline !important;
    text-decoration-color: #00C9FF !important;
    border-radius: 0;
  }

  .nav-link:focus {
    text-decoration: underline !important;
    text-decoration-color: #00C9FF !important;
  }

  #phone_image {
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 250px;
    height: 330px;
  }

  #jumboef-title {
    padding-top: 20px;
  }

  #jumbo_emailform {
    right: 0;
    position: absolute;
    /*May change when adding child elements */
    width: 250px;
    height: 460px;
    /*May change when adding child elements */
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    margin-top: 0;
    bottom: 0;
    text-align: center;
    /*Test for dots*/
    /* opacity: 50%; */
  }

  .jumboef--input {
    margin-top: 30px;
    border: 1.5px solid gray;
    background-color: lightgray;
    border-radius: 8px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    width: 222px;
    height: 28px;
  }

  .jumboef--input:focus {
    outline: 0;
  }


  .jumboef--input::placeholder {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 5px; */
  }

  .jumboef--input:focus::placeholder {
    color: transparent;
  }

  #jumboef_inquiry {
    resize: none;
  }

  input[type="text"] {
    font-size: 14px;
  }

  .navbar-brand {
    font-size: 20px !important;
  }

  #jumbo_title {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 0;
    margin-top: 72px;
  }

  #jumboef_inquiry {
    margin-top: 30px;
    border: 1.5px solid gray;
    background-color: lightgray;
    border-radius: 8px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    width: 222px;
    height: 100px;
    margin-bottom: 10px;
  }

  #jumboef_inquiry:focus {
    outline: 0;
  }

  #jumboef_inquiry::placeholder {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

  #jumboef_inquiry:focus::placeholder {
    color: transparent;
  }

  #jumboef--input-first {
    margin-top: 10px;
  }

  #jumboef_button {
    color: white;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #0099FF;
    padding: 5px 30px 5px 30px;
    transition: background-color .2s;
  }

  #jumboef_button:hover {
    background-color: #0383d9;
    text-decoration: none;
    transition: background-color .2s;
  }

  .jumbotron {
    height: 1100px;
  }

  #lead {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }

  #jumbo__blob-1 {
    top: 1% !important;
  }

  #jumbo__blob-3 {
    left: 80% !important;
  }

  #jumbo__blob-5 {
    top: 82% !important;
    left: 10% !important;
    transform: rotate(90deg) !important;
  }

  #about_section--subtitle {
    padding-top: 4%;
  }

  .border-left {
    display: none;
  }

  #service_title-lead {
    font-size: .9em;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #service_title {
    font-size: 1.1em;
  }

  #service_section-titlewrapper {
    margin-bottom: 12%;
  }

  .card-title {
    font-size: 1.1em;
    margin-bottom: 5px !important;
  }

  .card-text {
    font-size: .8em;
  }

  #service_title-lead::before,
  #service_title-lead::after {
    flex: .2;
  }

  .card-body {
    margin: 0 auto;
    text-align: center;
  }

  .card-img-top {
    width: 55% !important;
  }

  .card-text .text-muted a {
    font-size: 1em;
  }

  #busins_logo {
    height: 70% !important;
  }

  #fp_logo {
    width: 70%;
  }

  #footer-contact--title {
    font-size: 1.4em;
    padding-bottom: 1.5%;
    text-align: center;
  }

  #footer-contact--a1 {
    font-size: 1em;
    text-align: center;
  }

  #footer-contact--a2 {
    font-size: 1em;
    text-align: center;
  }

  #footer-contact--email {
    font-size: 1em;
    text-align: center;
  }

  #footer-ql--title{
    font-size: 1em;
    text-align: center;
    padding-top: 5%;
  }
  #footer-about--title{
    font-size: 1em;
    text-align: center;
  }
  #footer-nl--title{
    font-size: 1em;
    text-align: center;
  }
}


/* Mobile S - Mobile M */
@media only screen and (min-width: 320px) {
  #jumbo_emailform {
    right: 0;
    position: absolute;
    /*May change when adding child elements */
    width: 280px;
    height: 450px;
    /*May change when adding child elements */
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    margin-top: 0;
    bottom: 0;
    text-align: center;
    /*Test for dots*/
    /* opacity: 50%; */
  }

  #phone_image {
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 270px;
    height: 330px;
    top: 39%;
  }

  #jumboef-title {
    padding-top: 20px;
  }

  #jumbo_title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    /* line-height: 40px; */
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    padding: 0;
    margin-top: 75px;
    /* margin: 0; */
  }

  .navbar-brand {
    font-size: 20px !important;
  }

  .nav-link {
    font-size: 18px;
    background-color: white;
    color: #00C9FF;
    border-radius: 0;
  }

  .nav-link:hover {
    text-decoration: underline !important;
    text-decoration-color: #00C9FF !important;
    border-radius: 0;
  }

  .nav-link:focus {
    text-decoration: underline !important;
    text-decoration-color: #00C9FF !important;
  }

  .jumboef--input {
    margin-top: 30px;
    border: 1.5px solid gray;
    background-color: lightgray;
    border-radius: 8px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    width: 222px;
    height: 28px;
  }

  .jumboef--input:focus {
    outline: 0;
  }


  .jumboef--input::placeholder {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 5px; */
  }

  .jumboef--input:focus::placeholder {
    color: transparent;
  }

  #jumboef_inquiry {
    resize: none;
  }

  input[type="text"] {
    font-size: 14px;
  }

  .navbar-brand {
    font-size: 20px !important;
  }

  #jumboef_inquiry {
    margin-top: 30px;
    border: 1.5px solid gray;
    background-color: lightgray;
    border-radius: 8px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    width: 222px;
    height: 100px;
    margin-bottom: 6px;
  }

  #jumboef_inquiry:focus {
    outline: 0;
  }

  #jumboef_inquiry::placeholder {
    font-size: 14px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

  #jumboef_inquiry:focus::placeholder {
    color: transparent;
  }

  #jumboef--input-first {
    margin-top: 10px;
  }

  #jumboef_button {
    color: white;
    border-radius: 8px;
    background-color: #0099FF;
    padding: 5px 30px 5px 30px;
    transition: background-color .2s;
  }

  #jumboef_button:hover {
    background-color: #0383d9;
    text-decoration: none;
    transition: background-color .2s;
  }

  .jumbotron {
    height: 1150px;
  }

  #lead {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
  }

  #jumbo__blob-5 {
    top: 44% !important;
  }

  #jumbo__blob-3 {
    top: 82% !important;
  }

  #jumbo__blob-1 {
    top: 30% !important;
    left: 20% !important;
  }

  #about_section--subtitle {
    padding-top: 4%;
  }

  #service_title-lead {
    font-size: .9em;
  }

  #service_title {
    font-size: 1.3em;
  }

  #service_section-titlewrapper {
    margin-bottom: 12%;
  }

  .card-title {
    font-size: 1.1em;
    margin-bottom: 5px !important;
  }

  .card-text {
    font-size: .8em;
    width: 80%;
    margin: 0 auto;
  }

  .card-body {
    margin: 0 auto;
    text-align: center;
  }

  .card-img-top {
    width: 45% !important;
  }

  .card-text .text-muted a {
    font-size: 1em;
  }

  #busins_logo {
    height: 70%;
  }

  #fp_logo {
    width: 70%;
  }

  #footer-contact--title {
    font-size: 1.4em;
    padding-bottom: 1.5%;
    text-align: center;
  }

  #footer-contact--a1 {
    font-size: 1em;
    text-align: center;
  }

  #footer-contact--a2 {
    font-size: 1em;
    text-align: center;
  }

  #footer-contact--email {
    font-size: 1em;
    text-align: center;
  }

  #footer-ql--title{
    font-size: 1em;
    text-align: center;
    padding-top: 5%;
  }
  #footer-about--title{
    font-size: 1em;
    text-align: center;
  }
  #footer-nl--title{
    font-size: 1em;
    text-align: center;
  }

  /* Samsung s22 ultra is in this category */
}


/* Mobile M - L Buffer */
@media only screen and (min-width: 360px) {
  .tes-item {
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-text {
    font-size: .86em !important;
  }

  p .text-muted a {
    font-size: 1.1em !important;
  }
}

/* Mobile L */
@media only screen and (min-width: 400px) {
  #jumbo_title {
    margin-top: 75px;
    font-size: 32px !important;
  }

  #jumbo__blob-5 {
    top: 80% !important;
    left: 80% !important;
  }

  #jumbo__blob-3 {
    top: 45% !important;
    left: 78% !important;
  }

  #jumbo__blob-4 {
    top: 50% !important;
    left: 10% !important;
  }

  #about_section--subtitle {
    padding-top: 4%;
  }

  #service_title-lead::before,
  #service_title-lead::after {
    flex: .15;
  }

  .card-body {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .card-img-top {
    width: 40% !important;
  }

  #service_title {
    font-size: 1.4em !important;
  }

  /* .card-text{
    width: 80%;
    margin: 0 auto;
  } */
}


/* Tablet */
@media only screen and (min-width: 720px) {
  #jumbo_emailform {
    z-index: 3;
    margin-top: 90px;
    top: 0;
    height: 460px;
    width: 340px;
    left: 54%;
    z-index: 3;
    top: 17%;
    transform: unset;
  }

  .navbar-brand {
    font-size: 25px !important;
  }

  .nav-link {
    color: white;
    background-color: transparent;
    font-size: 22px;
    border-radius: 10px;
    text-decoration: none !important;
  }

  .nav-link:hover {
    color: #00C9FF;
    background-color: white;
    border-radius: 10px;
    text-decoration: none !important;
  }

  .nav-link:focus {
    text-decoration: none !important;
  }


  #phone_image {
    transform: unset;
    left: unset;
    margin-left: 8%;
    margin-top: 4%;
    top: unset;
  }

  #phone_image {
    height: 420px;
    width: 305px;
    margin-left: 4%;
    bottom: 0;
  }

  .jumbotron {
    height: 730px;
  }

  #jumbo_title {
    text-align: left;
    padding-left: 70px;
    font-size: 35px !important;
    z-index: 1;
    margin-top: 85px;
    /* font-size: 1.5em !important; */
    line-height: 55px;
  }

  #jumboef_button {
    display: inline-block;
  }

  .jumboef--input {
    width: 300px;
  }

  #jumboef_inquiry {
    width: 300px;
  }

  #lead {
    font-size: 15px;
  }

  #jumbo__blob-1 {
    top: 55% !important;
    left: 40% !important;
  }

  #jumbo__blob-3 {
    top: 75% !important;
    left: 50% !important;
  }

  #jumbo__blob-4 {
    top: 75% !important;
    left: 2% !important;
    transform: rotate(78deg);
  }

  #jumbo__blob-5 {
    top: 12% !important;
    transform: rotate(150deg);
    left: 70% !important;
  }

  .img-fluid {
    height: 100% !important;
  }

  #about_section--img {
    padding-left: 0;
    padding-right: 0;
  }

  #about_section--text {
    padding-right: 0;
  }

  #forbes_logo {
    height: 60% !important;
  }

  #about_section--subtitle {
    padding-top: 0;
  }

  #about_section {
    margin-top: 12% !important;
  }

  #about_section--maintext {
    font-size: .68rem !important;
  }

  #trusted_companies-banner {
    margin-top: 15% !important;
  }

  #about_section--button {
    font-size: .6em !important;
  }

  #service_title-lead {
    font-size: 1em;
  }

  #service_title {
    font-size: 1.5em;
  }

  #service_section-titlewrapper {
    margin-bottom: 5%;
  }

  .card-title {
    font-size: .85em;
    margin-bottom: .1em !important;
  }

  #service_title-lead::before,
  #service_title-lead::after {
    flex: .1;
  }

  .card-body {
    width: unset;
    text-align: unset;
  }

  .card-text {
    margin: unset;
    width: unset;
    font-size: .72em;
  }

  .card-img-top {
    width: 75% !important;
  }

  #ali_logo-reg {
    height: 70% !important;
  }

  #busins_logo {
    height: 70% !important;
  }

  #env_logo {
    height: 40% !important;
  }

  .card-text .text-muted a {
    font-size: .7em;
  }

  .card-text {
    font-size: .7em !important;
  }
}

/* Tablet - Laptop Buffer*/
/* @media only screen and (min-width: 770px) {

} */

/* Laptop */
@media only screen and (min-width: 970px) {
  .jumbotron {
    height: 850px;
  }

  .navbar-brand {
    font-size: 28px !important;
  }

  .nav-link {
    color: white;
    background-color: transparent;
    font-size: 22px;
    border-radius: 10px;
    text-decoration: none !important;
  }

  .nav-link:hover {
    color: #00C9FF;
    background-color: white;
    border-radius: 10px;
    text-decoration: none !important;
  }

  .nav-link:hover {
    text-decoration: none !important;
  }


  #jumbo_title {
    font-size: 45px !important;
    margin-top: 120px;
  }

  #jumbo_emailform {
    width: 350px;
    height: 470px;
    /* left: 58%; */
    left: 62%;
    top: 19%;
  }

  #phone_image {
    margin-left: 7%;
    height: 60%;
    width: 40%;
  }

  #jumbo__blob-5 {
    top: 10% !important;
  }

  #about_section--text p {
    font-size: .9em !important;
  }

  #about_section--subtitle {
    padding-top: 0;
    font-size: 1em !important;
  }

  #about_section--button {
    font-size: .7em !important;
  }


  .card-title {
    font-size: 1.18em;
  }

  .card-img-top {
    width: 45% !important;
  }

  .card-text {
    font-size: .95em !important;
  }

  .border-left {
    left: -5% !important;
  }

  #service_title-lead::before,
  #service_title-lead::after {
    flex: .08;
  }

  .card-img-top {
    width: 75% !important;
  }

  .tes-item {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {

  .navbar-brand {
    font-size: 40px !important;
  }

  .nav-link {
    font-size: 30px;
  }

  .jumbotron {
    height: 930px;
  }

  .jumboef--input {
    width: 90%;
    height: 8%;
  }

  .jumboef--input::placeholder {
    font-size: 20px;
  }

  input[type="text"] {
    font-size: 20px;
  }

  #jumboef_inquiry {
    width: 90%;
    height: 22%;
    font-size: 20px;
  }

  #jumboef_inquiry::placeholder {
    font-size: 20px;
  }

  #jumbo_title {
    font-size: 47px !important;
    margin-top: 150px;
  }

  #jumboef-title {
    font-size: 1.8em;
  }

  #lead {
    font-size: 1em;
    padding: 0 20px 0 20px;
  }

  #jumbo_emailform {
    width: 460px;
    height: 600px;
    left: 65%;
    top: 11%;
  }

  #jumboef_button {
    font-size: 1.4em;
  }

  #phone_image {
    height: 550px;
    width: 425px;
    margin-left: 10%;
  }

  #about_section--text p {
    font-size: 1.1em !important;
  }

  #about_section--subtitle {
    padding-top: 0;
    font-size: 1.1em !important;
  }

  #about_section--button {
    margin-top: 2%;
    font-size: 1em !important;
  }

  #about_section--title h6 {
    font-size: 30px !important;
  }

  .card-img-top {
    width: 50% !important;
  }

  .border-left {
    left: -7% !important;
  }

  #service_title-lead::before,
  #service_title-lead::after {
    flex: .05;
  }

  #busins_logo {
    width: 90%;
    height: 60% !important;
  }

  .tes-item {
    margin-left: 15%;
    margin-right: 15%;
  }

  .card-text {
    font-size: 1.3em !important;
  }

  .card-title {
    font-size: 1.3em;
  }

  #about_section--button p {
    font-size: .8em !important;
  }

  /* #forbes_logo{
    width: 80%;
    height: 50% !important;
  } */
}

/* 4k */
@media only screen and (min-width: 2560px) {

  .navbar-brand {
    font-size: 2.8em !important;
  }

  .nav-link {
    font-size: 2em;
  }

  .jumbotron {
    height: 1200px;
  }

  .img-fluid {
    width: 80% !important;
  }

  #forbes_logo {
    height: 40% !important;
  }

  #busins_logo {
    height: 50% !important;
  }

  #env_logo {
    height: 30% !important;
  }

  #fp_logo {
    height: 90% !important;
    width: 80% !important;
  }

  #ali_logo-reg {
    width: 80% !important;
    height: 60% !important;
  }

  #jumbo_title {
    font-size: 4.5em !important;
    line-height: 100px;

  }

  #phone_image {
    margin-left: 18%;
    width: 20%;
    height: 55%;
  }

  #jumbo_emailform {
    width: 28%;
    height: 78%;
  }

  .jumboef--input::placeholder {
    font-size: 28px;
  }

  #jumboef_inquiry::placeholder {
    font-size: 28px;
    padding-top: 8px;
  }

  #jumbo__blob-2 {
    width: 12% !important;
  }

  #jumboef-title {
    font-size: 3em;
    margin-top: 10px;
  }

  input[type="text"] {
    font-size: 28px;
  }

  #lead {
    font-size: 1.5em;
  }

  #jumboef_inquiry {
    height: 28%;
    font-size: 28px;
    border-radius: 12px;
  }

  #jumboef_button {
    font-size: 2.2em;
    border-radius: 16px;
    margin: 3%;
  }

  #about_section {
    max-width: 90%;
  }

  #about_section--img .img-fluid {
    max-width: 100%;
    width: 100% !important;
  }

  #about_section--text p {
    font-size: 2.4em !important;
  }

  #about_section--text {
    padding-left: 1.5%;
  }

  #about_section--subtitle {
    font-size: 2.5em !important;
  }

  #about_section--title h6 {
    font-size: 3em !important;
  }

  #about_section--button p {
    font-size: 1.8em !important;
    padding: 10px;
    margin: 0;
  }

  #service_title-lead {
    font-size: 2.2em;
  }

  #service_title {
    font-size: 3em !important;
  }

  .border-left {
    left: -4% !important;
  }

  .card-title {
    font-size: 2.5em;
  }

  .card-text {
    font-size: 2em !important;
    padding-left: 5%;
    padding-right: 5%;
  }

  .jumboef--input {
    border-radius: 12px;
  }

  #testimonial_title {
    font-size: 3em !important;
    padding-bottom: 4%;
  }

  .quote {
    width: 25% !important;
  }

  .testimonial-pic {
    width: 45% !important;
  }

  .testcard-title {
    padding-top: 5%;
    font-size: 2.2em;
  }

  .testcard-text {
    padding-top: 1%;
    font-size: 2em;
  }

  .owl-theme .owl-dots span {
    width: 1.2em !important;
    height: 1.2em !important;
  }

  .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
  }

  /* .owl-theme .owl-dots span:active {}
} */

}